@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/**************************Variables*/
$color_prim1: hsl(158, 36%, 37%);
$color_prim2: hsl(30, 38%, 92%);
$color_prim3: hsl(158, 40%, 27%);

$color_neut1: hsl(212, 21%, 14%);
$color_neut2: hsl(228, 12%, 48%);
$color_neut3: hsl(0, 0%, 100%);


$font_prim: 'Montserrat', sans-serif;
$font_sec: 'Fraunces', serif;


$font_wght1: 500;
$font_wght2: 700;

/***********************Init*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color_prim2;
}

/***********************************Card*/
.card {
    margin: 20px auto;
    background-color: $color_neut3;
    overflow: hidden;
    border-radius: 10px;
    width: 360px;

    /***************Card img*/
    &_img {
        width: 100%;
        object-fit: contain;
    }

    /**************Card info*/
    &_aside {
        padding: 20px 25px;

        h2 {
            font-family: $font_prim;
            font-weight: $font_wght1;
            color: $color_neut2;
            font-size: 13px;
            letter-spacing: 3px;
            margin-bottom: 15px;
        }

        h1 {
            font-family: $font_sec;
            font-weight: $font_wght2;
            font-size: 30px;
            line-height: 1;
            margin-bottom: 18px;
        }

        p {
            font-family: $font_prim;
            color: $color_neut2;
            font-size: 13px;
            line-height: 1.7;
        }
    }

    /*****************Card price*/
    &_prices {
        display: flex;
        align-items: center;
        margin-top: 41px;

        .price-down {
            font-family: $font_sec;
            font-size: 30px;
            color: $color_prim1;
            margin-right: 25px;
        }

        .price-orig {
            text-decoration: line-through;
        }
    }

    /*****************Card button*/
    &_btn {
        margin-top: 5px;
        height: 50px;
        background-color: $color_prim1;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: $color_neut3;
        margin-left: 13px;
        font-weight: 700;
        font-size: 14px;

        &:hover {
            background-color: $color_prim3;
            cursor: pointer;
        }    
        
        img {
            margin-right: 15px;
        }
    }
}

/*************************Desktop*/

@media screen and (min-width: 960px) {

    .card {
        display: flex;
        width: 569px;
        height: 424px;
      

        &_aside {
            width: 520px;  
        }
    }
} 

.attribution {
    position: fixed;
    bottom: 0px;
    left: 5px;
    font-size: 15px;
}